.mapsvg-popover {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.5);
  color: #000;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  /*padding: 15px 10px 7px 10px;*/
  position: absolute;
  width: 250px;
  min-width: 100px;
  max-width: 100%;
  max-height: 300px;
  min-height: 55px;
  bottom: 100%;
  margin-bottom: 6px;
  transform: translate(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 2;
  -webkit-transition:
    transform 0.4s,
    opacity 0.2s;
  -moz-transition:
    transform 0.4s,
    opacity 0.2s;
  -ms-transition:
    transform 0.4s,
    opacity 0.2s;
  -o-transition:
    transform 0.4s,
    opacity 0.2s;
  transition:
    transform 0.4s,
    opacity 0.2s;
  box-sizing: border-box;
  outline: none !important;
  touch-action: manipulation;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

.mapsvg-popover * {
  box-sizing: border-box;
}
.mapsvg-popover .nano > .nano-content {
  overflow-x: auto !important;
}
.mapsvg-popover img {
  max-width: 100%;
}

.mapsvg-popover .mapsvg-popover-content {
  overflow-y: auto;
}

.mapsvg-auto-height {
  position: relative;
}
.mapsvg-popover .mapsvg-controller-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.mapsvg-popover
  .mapsvg-controller-view-toolbar
  + .mapsvg-controller-view-wrap
  .mapsvg-controller-view-content {
  padding-top: 0;
}
.mapsvg-popover .mapsvg-controller-view-toolbar {
  height: 20px;
}

.mapsvg-popover .mapsvg-popover-content {
  overflow-y: auto;
}
.mapsvg-popover:before {
  border-top: 7px solid rgba(255, 255, 255, 1);
  border-top-color: inherit;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  bottom: -7px;
  content: "";
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}
.mapsvg-popover.mapsvg-popover-visible {
  display: block;
}
.mapsvg-popover.mapsvg-popover-animate {
  -webkit-animation: fade-in 0.2s linear 1;
  -moz-animation: fade-in 0.2s linear 1;
  -ms-animation: fade-in 0.2s linear 1;
  animation: fade-in 0.2s linear 1; /* Add this line */
}

@media (max-width: 812px) {
  .mapsvg-popover .mapsvg-controller-view-toolbar {
    height: 38px;
    padding: 0;
  }

  .mapsvg-popover-close {
    top: 3px !important;
    right: 3px !important;
    z-index: 999;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.mapsvg-popover.mapsvg-fullscreen {
  border-radius: 0;
}
